.css-cczics-MuiDataGrid-root .MuiDataGrid-withBorderColor {
    border: none !important;
    cursor: pointer !important;
}

.css-y599qu {
    border: none !important;
}

.css-9ffb5l {
    border: none !important;
}

.css-sb5iof .MuiDataGrid-cell {
    border-bottom: none !important;
}

.grid-headeer-class {
    background-color: rgb(245, 245, 245) !important;
}

.css-frlfct {
    cursor: pointer !important;
}